<!DOCTYPE html>
<html lang="en" ng-app="mc">
  <head>
    <meta charset="utf-8">
    <title>MapCampus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include "styles.html" %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="EditCtrl">
    {% include "navbar.html" with home_item_class="active" %}

    <div id="center">
      <form id="entry" class="form-horizontal pull-left well">
        <button type="submit" class="btn btn-primary" ng-click="getEdges()">Get Edges</button>
      </form>

      <div id="map_canvas"/>
    </div>

    {% include "map_scripts.html" %}
    <script src="{{ STATIC_URL }}js/common/services.js"></script>
    <script src="{{ STATIC_URL }}js/common/app.js"></script>
    <script src="{{ STATIC_URL }}js/edit/controllers.js"></script>
  </body>
</html>
