<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MapCampus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include "styles.html" %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    {% include "navbar.html" with edit_item_class="active" %}

    <div id="center">
      <div id="map_canvas"/>
    </div>

    {% include "map_scripts.html" %}

    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(40.10804, -88.22726),
          zoom: 18,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(
          $("#map_canvas")[0],
          mapOptions
        );

        var wnd = $(window);
        var center = $("#center");
        var top = $("#north").height();

        wnd.resize(function() {
          center.height(wnd.height() - top);
        });

        wnd.trigger("resize");

        $("#entry").fadeIn();

        $('#from-input').typeahead({
            source: ["Cats", "Meow"]
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </body>
</html>
