{% if debug %}
<script src="{{ STATIC_URL }}lib/jquery/jquery-1.8.2.js"></script>
<script src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}lib/angular/angular.js"></script>
{% else %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
{% endif %}

<script src="{{ STATIC_URL }}lib/angular/angular-google-maps.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDKInBVAs45LOtPhtiTce3W7XVvdpBCHWE&sensor=true">
</script>